<h1>
  <%= @tech1.name %> or <%= @tech2.name %>?
</h1>
<h2>Which are developers talking more about?</h2>

<script>
    comparison_chart([
        {
            url: "<%= metrics_technology_path(@tech1) %>.json",
            name: "<%= @tech1.name %>"
        },
        {
            url: "<%= metrics_technology_path(@tech2) %>.json",
            name: "<%= @tech2.name %>"
        }
    ]);
</script>

<p>
    Developer discussions are a great indicator of activity and momentum for a software technology.
    Compare number of StackOverflow posts per month referring to each technology.
</p>

<div id="chart" class="uibox">
<div class="loading-note">Loading chart data...</div>
<svg></svg>
</div>


<div id="ugc" class="uibox">
    <div id="good-comparison">
        <b>Are these technologies good substitutes for each other?</b><br/>
        <input type="button" value="YES, they do mostly the same thing">
        <input type="button" value="Somewhat">
        <input type="button" value="NO, they are not interchangeable">
    </div>
</div>

<div id="links" class="uibox">

  <% [@tech1, @tech2].each do |tech| %>
  <div class="tech-comparison-ugc">
    I think <%= tech.name %> is better for <input type="text"><br/>
    More about <b><%= link_to tech.name, tech %></b>.<br/>
  </div>
  <% end %>
</div>
