<h1>
  <%= @tech1.name %> or <%= @tech2.name %>?
</h1>
<h2>Which are developers talking more about?</h2>

<script>
    comparison_chart([
        {
            url: "<%= metrics_technology_path(@tech1) %>.json",
            name: "<%= @tech1.name %>"
        },
        {
            url: "<%= metrics_technology_path(@tech2) %>.json",
            name: "<%= @tech2.name %>"
        }
    ]);
</script>

<p>
    Developer discussions are a great indicator of activity and momentum for a technology.
    Compare number of StackOverflow posts per month referring to each technology.
</p>

<div id="chart">
<div class="loading-note">Loading chart data...</div>
<svg></svg>
</div>


<p>
    More about <%= link_to @tech1.name, @tech1 %>.
</p>
<p>
    More about <%= link_to @tech2.name, @tech2 %>.
</p>
