<h1>CodeTrend</h1>

<p>
    Trying to pick between two technologies?  Compare their trends and make sure you pick a winner!
</p>

<p>
    Browse <%= link_to 'popular technologies', technologies_path %>
    or
    <%= link_to 'all known technologies', technologies_path( {:all => 1} ) %>
</p>

<p>
    <%= form_tag(search_technologies_path, :method => :get) do %>
        Or search for a technology by name:
        <%= text_field_tag(:query) %>
        <%= submit_tag("search") %>
    <% end %>
</p>

<p>
    Popular comparisons:
    <ul>
    <% @comparisons.each do |comparison| %>
        <li><%= link_to comparison, comparison.path %> or
        </li>
    <% end %>
    </ul>
</p>
