<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @metatag.tag %>
</p>

<p>
  <b>Title:</b>
  <%= @metatag.title %>
</p>

<p>
  <b>Description:</b>
  <%= @metatag.description %>
</p>

<p>
  <b>Users can apply?</b>
  <% if @metatag.user_appliable %>
    Yes
  <% else %>
    No
  <% end %>
</p>


<%= link_to 'Edit', edit_metatag_path(@metatag) %> |
<%= link_to 'Back', metatags_path %>
