<p id="notice"><%= notice %></p>

<h1><%= @technology.name %></h1>
<h3>Activity trend</h3>

<p>
    <% if @technology.primary_metatag %>
        <%= @technology.name %> is a 
        <%= @technology.primary_metatag.title %>
        <!-- <%= link_to @technology.primary_metatag.title, @technology.primary_metatag %> -->
    <% else %>
        <b>What is <%= @technology.name %>?</b>
        <%= form_tag(applymetatag_technology_path, :method => :post) do %>
            <%= select_tag("metatag", options_for_select(appliable_metatags_select) ) %>
            <%= submit_tag("Categorize") %>
        <% end %>
    <% end %>

</p>

<p>
    For a complete description of this technology, see <a href="http://stackoverflow.com/tags/<%= u @technology.techtag %>/info">StackOverflow</a>.
    (<a href="https://github.com/leopd/codetrend/issues/1">Why the link?</a>)
</p>

<script>
    var url = "<%= metrics_technology_path(@technology) %>.json";
    chart_from_data_url(url);
</script>

<div id="chart">
<div class="loading-note">Loading chart data...</div>
<svg></svg>
</div>


<p>
    Compare <b><%= @technology.name %></b> against another technology...
    <%= form_tag(compare_search_path, :method => :get) do %>
        <%= hidden_field_tag(:slug1, @technology.slug) %>
        <%= text_field_tag(:query, '', :placeholder => 'Technology to compare to') %>
        <%= submit_tag("search") %>
    <% end %>
    <% if @comparisons.count > 0 %>
        Popular comparisons:
        <ul>
            <% @comparisons.each do |comparison| %>
                <li><%= link_to comparison, comparison.path %>
                </li>
            <% end %>
        </ul>
    <% end %>
</p>
