<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @technology.name %>
</p>

<p>
  <b>Techtag:</b>
  <%= @technology.techtag %>
</p>


<script>
    var url = "<%= metrics_technology_path(@technology) %>.json";
    chart_from_data_url(url);
</script>

<div id="chart">
<svg></svg>
</div>


<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>
