<p id="notice"><%= notice %></p>

<p>
  <b>Technology:</b>
  <%= @technology.name %>
</p>

<p>
    Read more about this technology on <a href="http://stackoverflow.com/tags/<%= @technology.techtag %>/info">StackOverflow</a>.
</p>

<script>
    var url = "<%= metrics_technology_path(@technology) %>.json";
    chart_from_data_url(url);
</script>

<div id="chart">
<div class="note">Loading chart data...</div>
<svg></svg>
</div>


<p>
    Compare <%= @technology.name %> against another technology...
    <%= form_tag(compare_search_path, :method => :get) do %>
        <%= hidden_field_tag(:tag1, @technology._id) %>
        <%= text_field_tag(:query, '', :placeholder => 'Technology to compare to') %>
        <%= submit_tag("search") %>
    <% end %>
    <% if @comparisons.count > 0 %>
        Popular comparisons:
        <ul>
            <% @comparisons.each do |comparison| %>
                <li><%= link_to comparison, "/compare/#{comparison.tag1}/vs/#{comparison.tag2}" %>
                </li>
            <% end %>
        </ul>
    <% end %>
</p>
