<p id="notice"><%= notice %></p>

<h1><%= @technology.name %></h1>
<h2>Developer activity trend</h2>

<p>
    For a description of this technology, see <a href="http://stackoverflow.com/tags/<%= u @technology.techtag %>/info">StackOverflow</a>.
    (<a href="https://github.com/leopd/codetrend/issues/1">Why the link?</a>)
</p>

<script>
    var url = "<%= metrics_technology_path(@technology) %>.json";
    chart_from_data_url(url);
</script>

<div id="chart">
<div class="loading-note">Loading chart data...</div>
<svg></svg>
</div>


<p>
    Compare <b><%= @technology.name %></b> against another technology...
    <%= form_tag(compare_search_path, :method => :get) do %>
        <%= hidden_field_tag(:slug1, @technology.slug) %>
        <%= text_field_tag(:query, '', :placeholder => 'Technology to compare to') %>
        <%= submit_tag("search") %>
    <% end %>
    <% if @comparisons.count > 0 %>
        Popular comparisons:
        <ul>
            <% @comparisons.each do |comparison| %>
                <li><%= link_to comparison, comparison.path %>
                </li>
            <% end %>
        </ul>
    <% end %>
</p>
