<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @technology.name %>
</p>

<p>
  <b>Techtag:</b>
  <%= @technology.techtag %>
</p>


<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>
