<p id="notice"><%= notice %></p>

<p>
  <b>Technology:</b>
  <%= @technology.name %>
</p>

<p>
    Read more about this technology on <a href="http://stackoverflow.com/tags/<%= @technology.techtag %>/info">StackOverflow</a>.
</p>

<script>
    var url = "<%= metrics_technology_path(@technology) %>.json";
    chart_from_data_url(url);
</script>

<div id="chart">
<div class="note">Loading chart data...</div>
<svg></svg>
</div>


<% if @comparisons.count > 0 %>
    <p>
        Compare <%= @technology.name %> against other technologies...
        <ul>
            <% @comparisons.each do |comparison| %>
                <li><%= link_to comparison, "/compare/#{comparison.tag1}/vs/#{comparison.tag2}" %>
                </li>
            <% end %>
        </ul>
    </p>
<% end %>
